@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Fira+Code:wght@300;400&family=Inter:wght@200;400;600&family=Noto+Sans&family=Open+Sans:wght@300;400;500;600&family=Press+Start+2P&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    max-width: 1939px;
}

.Container{
    max-width: 1939px;
    width: 100vw;
    height: 100vh;
}

body{
    background-color: rgba(0, 0, 0, 0.993);
}
